{"interval": 1, "seed": 42, "laneChange": false, "dir": "records/exp-2/anon_4_4_hangzhou_real.json_04_30_15_40_48/", "roadnetFile": "roadnet_4_4.json", "flowFile": "anon_4_4_hangzhou_real.json", "rlTrafficLight": true, "saveReplay": false, "roadnetLogFile": "frontend/web/roadnetLogFile.json", "replayLogFile": "frontend/web/replayLogFile.txt"}