{"interval": 1, "seed": 123, "laneChange": false, "dir": "records/colight-3/anon_4_4_hangzhou_real.json_05_07_01_39_19/", "roadnetFile": "roadnet_4_4.json", "flowFile": "anon_4_4_hangzhou_real.json", "rlTrafficLight": true, "saveReplay": true, "roadnetLogFile": "frontend/web/roadnetLogFile.json", "replayLogFile": "frontend/web/replayLogFile.txt"}