{"interval": 1, "seed": 999, "laneChange": false, "dir": "records/exp-5/anon_4_4_hangzhou_real.json_04_30_21_26_44/", "roadnetFile": "roadnet_4_4.json", "flowFile": "anon_4_4_hangzhou_real.json", "rlTrafficLight": true, "saveReplay": false, "roadnetLogFile": "frontend/web/roadnetLogFile.json", "replayLogFile": "frontend/web/replayLogFile.txt"}