{"interval": 1, "seed": 7, "laneChange": false, "dir": "records/exp-4/anon_4_4_hangzhou_real.json_04_30_20_29_05/", "roadnetFile": "roadnet_4_4.json", "flowFile": "anon_4_4_hangzhou_real.json", "rlTrafficLight": true, "saveReplay": false, "roadnetLogFile": "frontend/web/roadnetLogFile.json", "replayLogFile": "frontend/web/replayLogFile.txt"}