{"interval": 1, "seed": 42, "laneChange": false, "dir": "records/exp2-1/anon_4_4_hangzhou_real.json_05_06_19_36_42/", "roadnetFile": "roadnet_4_4.json", "flowFile": "anon_4_4_hangzhou_real.json", "rlTrafficLight": true, "saveReplay": true, "roadnetLogFile": "frontend/web/roadnetLogFile.json", "replayLogFile": "frontend/web/replayLogFile.txt"}