{"interval": 1, "seed": 42, "laneChange": false, "dir": "records/colight-2/anon_4_4_hangzhou_real.json_05_06_19_18_01/", "roadnetFile": "roadnet_4_4.json", "flowFile": "anon_4_4_hangzhou_real.json", "rlTrafficLight": true, "saveReplay": true, "roadnetLogFile": "frontend/web/roadnetLogFile.json", "replayLogFile": "frontend/web/replayLogFile.txt"}