{"interval": 1, "seed": 999, "laneChange": false, "dir": "records/exp2-5/anon_4_4_hangzhou_real.json_05_07_10_38_02/", "roadnetFile": "roadnet_4_4.json", "flowFile": "anon_4_4_hangzhou_real.json", "rlTrafficLight": true, "saveReplay": true, "roadnetLogFile": "frontend/web/roadnetLogFile.json", "replayLogFile": "frontend/web/replayLogFile.txt"}