{"interval": 1, "seed": 7, "laneChange": false, "dir": "records/colight-4/anon_4_4_hangzhou_real.json_05_07_06_07_07/", "roadnetFile": "roadnet_4_4.json", "flowFile": "anon_4_4_hangzhou_real.json", "rlTrafficLight": true, "saveReplay": true, "roadnetLogFile": "frontend/web/roadnetLogFile.json", "replayLogFile": "frontend/web/replayLogFile.txt"}